html {
    font-size: 10px;
}

body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    margin: 0;
}

.wrapper {
    margin: 0 auto;
    padding: 20px 0 95px;
    width: 960px;
}

.h1 {
    margin: 50px 0 25px;
    color: #bfbfbf;
    font-weight: bold;
    font-size: 2.4rem;
    letter-spacing: 1px;
    text-transform: uppercase;
}

nav {
    margin: 25px 0 50px;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.flex-between {
    display: flex;
    justify-content: space-between;
}

.menu>li,
.insade>li,
.in-insade>li {
    position: relative;
    display: inline-block;
}

.insade,
.in-insade,
.double-insade {
    position: absolute;
    display: none;
}

.menu>li:hover>.insade,
.insade>li:hover>.in-insade,
.in-insade>li:hover>.double-insade {
    display: block;
    z-index: 1;
}

.in-insade {
    left: 100%;
    top: 0;
}

.double-insade {
    right: calc(100% + 4px);
    top: 0;
}

.menu a {
    display: block;
    padding: 15px 30px;
    font-weight: bold;
    font-size: 1.5rem;
    text-decoration: none;
}

nav>ul.menu1,
nav.flex-between {
    background-color: #2a3644;
}

.menu>li>a {
    color: #fff;
    background-color: #2a3644;
}

.menu>li:hover>a {
    color: #fd8612;
    background-color: #3f4852;
}

.insade a {
    padding: 12px 20px;
    width: 210px;
    box-sizing: border-box;
    color: #2a3644;
    background-color: #d2d4d5;
}

.insade li:hover>a {
    color: #fd8612;
    background-color: #2a3644;
}

.menu1>li:last-child>ul {
    right: 0;
}

.dtable {
    display: table;
    width: 100%;
}

.dtable>ul {
    display: table-row;
}

.dtable>ul>li {
    display: table-cell;
}

.dtable>ul>li>a {
    text-align: center;
}

.menu-3 {
    display: flex;
}

.menu-3 .flex {
    display: flex;
    background-color: #d2d4d5;
    border-radius: 3px;
}

ul.menu,
nav.flex-between {
    borderRadius: 3px;
}

.menu>li:first-child>a {
    border-radius: 3px 0 0 3px;
}

.menu1>li:last-child>a,
.menu-2>li:last-child>a {
    border-radius: 0 3px 3px 0;
}

.insade li:first-child>a {
    border-radius: 3px 3px 0 0;
}

.insade li:last-child>a {
    border-radius: 0 0 3px 3px;
}

.insade1>li:first-child>a {
    border-radius: 3px 0 0 0;
}

.insade1>li:last-child>a {
    border-radius: 0 0 0 3px;
}

.insade2>li:first-child>a {
    border-radius: 0 3px 0 0;
}

.insade2>li:last-child>a {
    border-radius: 0 0 3px 0;
}

.menu1 .insade>li:first-child,
.menu-2 .insade>li:first-child,
.menu-3>li:not(:nth-child(3)) .insade>li:first-child,
.border-top {
    border-top: 5px solid transparent;
}

.border-r>li {
    border-right: 5px solid transparent;
}

.borderL>li {
    border-left: 5px solid transparent;
}

.menu1>li:not(:first-child)>a {
    border-left: 1px solid #3f4852;
}

.menu>li:not(:last-child)>a {
    border-right: 1px solid #3f4852;
}

.insade li:not(:last-child)>a {
    border-bottom: 1px solid #b9bdc1;
}

.insade1 a {
    border-right: 1px solid #b9bdc1;
}

.menu-3>li:first-child a {
    position: relative;
    padding-left: 45px;
}

.social li:last-child {
    padding-right: 20px;
}

.menu-3>li:first-child a:before {
    content: "";
    position: absolute;
    left: 25px;
    top: 16px;
    width: 16px;
    height: 13px;
    background-image: url(img/hom.png);
    background-position: -80px -26px;
}
.menu-3>li:hover:first-child a:before {
    position: absolute;
    background-image: url(img/home.png);
    width: 16px;
    height: 13px;
    left: 25px;
    bottom: 20px;
    content: "";
}

/* .menu-3>li:first-child a:hover:before {
    background-position: -102px -28px;
} */

.social>li {
    display: inline-block;
    margin: 12px;
}

.social a {
    display: block;
    background: url(img/sprite.png) no-repeat;
}

a.facebook {
    width: 10px;
    height: 19px;
    background-position: 1px -21px;
}

a.facebook:hover {
    background-position: 1px 0px;
}

a.twitter {
    width: 19px;
    height: 18px;
    background-position: -12px -21px;
}

a.twitter:hover {
    background-position: -11px 0px;
}

a.instagram {
    width: 19px;
    height: 19px;
    background-position: -32px -18px;
}

a.instagram:hover {
    background-position: -32px 2px;
}

.table-1 h2 {
    margin: 0;
    padding-top: 60px;
    padding-bottom: 25px;
    font-size: 24px;
    letter-spacing: 1px;
    color: #bfbfbf;
    font-weight: bold;
    font-family: "Arial";

}
.table-1 h1 {
    font-size: 24px;
    letter-spacing: 1px;
    color: #bfbfbf;
    font-weight: bold;
    font-family: "Arial";
}

.table-1 table {
    border-collapse: collapse;
    width: 960px;
    height: 367px;
    border-radius: 3px;
    background-color: #f2f2f2;
}

.table-1 tr {
    text-align: center;
}
.number {
    border-radius: 3px 0 0 0;
}

.result {
    border-radius: 0 3px 0 0;
}

.table-1 thead {
    width: 960px;
    height: 92px;
    border-radius: 3px;
    background-color: #2a3644;
    font-size: 16px;
    color: #ffffff;
    font-weight: bold;
    font-family: "Arial";
}

thead th:not(:last-child) {
    border-right: 1px solid #3f4852;
}

.table-1 tbody tr:not(:last-child) {
    border-bottom: 1px solid #c0c1c2;
    overflow: hidden;
}

.table-1 tbody tr:hover {
    background-color: #c0c1c2;
}

.tbody tr:nth-child(3n) {
    background-color: #f2f2f2;
}

tbody td:nth-child(3n) {
    text-align: right;
    padding-right: 21px;
}

thead>.two th {
    text-align: center;
}

tbody td:nth-child(4n) {
    text-align: right;
    padding-right: 21px;
}

tbody td:nth-child(5n) {
    text-align: right;
    padding-right: 21px;
}

.table-1 tbody {
    border-radius: 3px;
    background-color: #f2f2f2;
}

.table-1 td {
    font-size: 16px;
    color: #2a3644;
    font-family: "Arial";
    padding: 14px 153px;
}

.table-1 td {
    text-align: left;
    padding-left: 23px;

}

tbody td:first-child {
    text-align: right;
    padding-left: 14px;
    padding-right: 8px;
}

tbody tr:nth-child() {
    background-color: #f2f2f2;
}

tbody td:not(:last-child) {
    border-right: 1px solid #c0c1c2;
}

.result {
    border-bottom: 1px solid #3f4852;
}

thead th:nth-child(2n) {
    padding-left: 23px;
}

thead .name {
    text-align: left;
}


tbody td:first-child {
    text-align: center;
}


tbody tr:last-child>td:first-child {
    border-radius: 0 0 0 3px;
}

.number th {
    border-radius: 3px 0 0 0;
}

.table-1 tr:last-child>td:last-child {
    border-radius: 0 0 3px 0;
}

.table-2 {
    display: table;
    width: 960px;
    margin-bottom: 50px;
}

.tbody i {
    border-collapse: collapse;
    padding: 14px 0;
    font-size: 16px;
    color: #2a3644;
    font-family: "Arial";
    font-style: normal;
}

.tbody:hover {
    background-color: #c0c1c2;
    border-collapse: collapse;
}

.thead b {
    padding: 14px 0;
}

.thead p {
    border-radius: 3px 3px 0 0;
}

.thead {
    margin: 0;
    background-color: #2a3644;
    font-size: 16px;
    color: #ffffff;
    font-weight: bold;
    font-family: "Arial";
}

.thead b:first-child {
    padding-left: 20px;
}

.tbody {
    margin: 0;
    height: 45px;
    background-color: #e8e8e8;
}

.table-2 p {
    display: table-row;
    margin: 0;
    text-align: center;
}

.table-2 b,
.table-2 i {
    display: table-cell;
}

.tbody i:first-child {
    width: 5%;
    padding-left: 23px;
    padding-right: 23px;
}

.tbody i:not(last-child) {
    border-bottom: 1px solid #c0c1c2;
    overflow: hidden;
}

.tbody i:nth-child(3n) {
    padding-left: 8px;
    text-align: center;
}

.tbody i:last-child {
    padding-left: 10px;
    text-align: center;
}

.table-2 p>i:not(:last-child) {
    border-right: 1px solid #c0c1c2;
}

.thead p {
    padding: 14px 0;
}

.thead b:nth-child(2) {
    text-align: left;
    padding-left: 40px;
}

.tbody i:nth-child(2n) {
    text-align: left;
    padding-left: 40px;
}
.table-2 .borderB{
    border: 0;
}