body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.wrapper {
    max-width: 960px;
    margin: 0 auto;
}

.menu {
    padding: 0 30px;
    position: relative;
    display: flex;
    justify-content: space-between;
}

.menu-1 ul:first-child {
    padding: 0;
    margin: 0;
    border-radius: 3px;
    background-color: #2a3644;
    list-style: none;
}
.menu-1 li:not(:last-child),
.menu-1 li:not(:first-child){
    border-radius: 3px;
    border-right: 1px solid #3f4852;
    border-left:  1px solid #3f4852;
}

.menu-1>li.add-1 li {
    border-right: 1px solid #3f4852;
    padding: 0;
}

.add-1 ul {
    padding-left: 0;
}

.add-1 li,
.salat li,
.krab li,
.milk li,
.holod li,
.selo li,
.posluga li,
.posluga2 li,
.landscape li{
    overflow: hidden;
    padding: 0;
    font-size: 15px;
    color: #2a3644;
    font-weight: bold;
    font-family: "Arial";
}

a {
    text-decoration: none;
    list-style: none;
}

.add-1 {
    padding: 0;
    display: none;
    position: absolute;
    width: 210px;
    border-radius: 3px;
    background-color: #d2d4d5;
    left: 0;
    top: 43px;
}
.index{
    z-index: 1;
}
.add-1 li,
.salat li,
.krab li,
.milk li,
.holod li,
.selo li,
.posluga li,
.posluga2 li,
.landscape li{
    overflow: hidden;
    border-bottom: 1px solid #b9bdc1;
    background-color: #d2d4d5;
}

.add-1 li:hover,
.salat li:hover,
.krab li:hover,
.milk li:hover,
.holod li:hover,
.selo li:hover,
.posluga li:hover,
.posluga2 li:hover,
.landscape li:hover {
    color: #fd8612;
}
.add-1 li,
.salat li,
.krab li,
.milk li{
    border-radius: 3px;
}
.salat {
    display: none;
    padding: 0;
    position: absolute;
    width: 210px;
    border-radius: 3px;
    left: 260px;
    top: 43px;
    background-color: #d2d4d5;
}

.krab {
    display: none;
    padding: 0;
    position: absolute;
    width: 210px;
    border-radius: 3px;
    top: 43px;
    right: 235px;
    background-color: #d2d4d5;

}
.milk{
    display: none;
    padding: 0;
    position: absolute;
    width: 210px;
    border-radius: 3px;
    top: 43px;
    right: 0;
    background-color: #d2d4d5;

}
.holod{
    display: none;
    padding: 0;
    position: absolute;
    width: 210px;
    top: 43px;
    left: 340px;
}
i{  font-style: normal;
    font-size: 15px;
    color: #2a3644;
    font-weight: bold;
    font-family: "Arial";
}
.nkam{
    display: none;
    padding: 0;
    position: absolute;
    width: 210px;
    top: 84px;
    border: 3px;
    left: 215px;
}
.chip{
    display: none;
    padding: 0;
    position: absolute;
    width: 210px;
    top: 125px;
    right: 215px;
    border-radius: 3px;
}
.selo{
    display: none;
    position: absolute;
    content: "";
    padding: 0;
    width: 211px;
    left: 165px;
    top: 45px;
border-radius: 3px;
background-color: #d2d4d5;
}
.nav2{
    margin-bottom: 50px;
}
.socials{
    display: flex;
}
.home::before{
    content: "";
    position: absolute;
    background-image: url(/img/homebefore.png);
    background-repeat: no-repeat;
    width: 16px;
    height: 13px;
    left: 10px;
    bottom: 16px;
}
.home:hover::before{
    position: absolute;
    background-image: url(/img/home.png);
    width: 16px;
    height: 13px;
    left: 10px;
    bottom: 16px;   
    content:"";
}
.posluga{
    display: none;
    position: absolute;
    width: 210px;
    padding: 0;
    left: 345px;
    top: 43px;
}
.posluga2{
    display: none;
    width: 210px;
    padding: 0;
    position: absolute;
    left: 555px;
    border-left: 1px solid #b9bdc1;
    top: 42px;
}
.landscape{
    display: none;
    position: absolute;
    width: 211px;
    padding: 0;
border-radius: 3px;
top: 43px;
right:215px;
background-color: #d2d4d5;
}
.posluga2 a{
    padding: 20px 28px;
}

.socials li{
    list-style: none;
}
.social a {
    display: block;
    background:url(/img/ssss.png);
    width: 10px;
    height: 19px;
    transition: all 1s ease;
}
a.facebook {
    width: 10px;
    height: 19px;
    background-position: 0 0;
}


.menu>li:hover>.add-1,
.menu>li:hover>.salat,
.menu>li:hover>.krab,
.menu>li:hover>.milk,
.menu>li:hover>.holod,
.menu>li:hover>.holod li:hover>.nkam,
.menu>li:hover>.holod li:hover>.nkam li:hover>.chip,
.menu>li:hover>.selo,
.menu>li:hover>.posluga,
.menu>li:hover>.posluga2,
.menu>li:hover>.landscape{
    display: block;
}

.menu-1 a:hover {
    color: #fd8612
}

.menu-1 li {
    padding: 12px 28px;
}

.menu-1 li:hover>a {
    color: #fd8612;
}

.menu-1 li:hover {
    border-radius: 3px;
}

.menu-1 li:hover {
    background-color: #3f4852;
}

.menu-1 a {
    padding: 0;
    font-size: 16px;
    color: #ffffff;
    font-weight: bold;
    font-family: "Arial";
    text-decoration: none;

}
.nav2{
    padding-top: 50px;
}

.table-1 h1 {
    font-size: 24px;
    letter-spacing: 1px;
    color: #bfbfbf;
    font-weight: bold;
    font-family: "Arial";
}

.table-1 table {
    border-collapse: collapse;
    width: 960px;
    height: 367px;
    border-radius: 3px;
    background-color: #f2f2f2;
}

.table-1 tr {
    text-align: center;
}

.table-1 thead {
    width: 960px;
    height: 92px;
    border-radius: 3px;
    background-color: #2a3644;
    font-size: 16px;
    color: #ffffff;
    font-weight: bold;
    font-family: "Arial";
}

thead th:not(:last-child) {
    border-right: 1px solid #3f4852;
}

.table-1 tbody tr:not(:last-child) {
    border-bottom: 1px solid #c0c1c2;
    overflow: hidden;
}

.table-1 tbody tr:hover {
    background-color: #c0c1c2;
}

.tbody tr:nth-child(odd) {
    background-color: #f2f2f2;
}

tbody td:nth-child(3n) {
    text-align: right;
    padding-right: 21px;
}

thead>.two th {
    text-align: center;
}

tbody td:nth-child(4n) {
    text-align: right;
    padding-right: 21px;
}

tbody td:nth-child(5n) {
    text-align: right;
    padding-right: 21px;
}

.table-1 tbody {
    border-radius: 3px;
    background-color: #f2f2f2;
}

.table-1 td {
    font-size: 16px;
    color: #2a3644;
    font-family: "Arial";
    padding: 23px 0;
}

.table-1 td {
    text-align: left;
    padding-left: 23px;
    ;
}

tbody td:first-child {
    text-align: right;
    padding-left: 20px;
    padding-right: 20px;
}

tbody tr:nth-child() {
    background-color: #f2f2f2;
}

tbody td:not(:last-child) {
    border-right: 1px solid #c0c1c2;
}

.result {
    border-bottom: 1px solid #3f4852;
}

thead th:nth-child(2n) {
    padding-left: 23px;
}

thead .name {
    text-align: left;
}


tbody td:first-child {
    text-align: center;
}

tbody td:first-child {
    border-radius: 0 0 0 3px;
}

tbody td:last-child {
    border-radius: 0 0 3px 0;
}

.number th {
    border-radius: 3px 0 0 0;
}

.table-2 {
    margin: 20px 0;
    display: table;
    width: 960px;
}

.tbody i {
    border-collapse: collapse;
    padding: 14px 0;
    font-size: 16px;
    color: #2a3644;
    font-family: "Arial";
    font-style: normal;
}

.tbody:hover {
    background-color: #c0c1c2;
    border-collapse: collapse;
}

.thead b {
    padding: 20px 0;
}

.thead p {
    border-radius: 3px 3px 0 0;
}

.thead {
    margin: 0;
    background-color: #2a3644;
    font-size: 16px;
    color: #ffffff;
    font-weight: bold;
    font-family: "Arial";
}

.thead b:first-child {
    padding-left: 20px;
}

.tbody {
    margin: 0;
    height: 45px;
    background-color: #e8e8e8;
}

.table-2 p {
    display: table-row;
    margin: 0;
    text-align: center;
}

.table-2 b,
.table-2 i {
    display: table-cell;
}

.tbody i:first-child {
    width: 10%;
    padding-left: 23px;
    padding-right: 23px;
}

.tbody i:not(last-child) {
    border-bottom: 1px solid #c0c1c2;
    overflow: hidden;
}

.tbody i:nth-child(3n) {
    padding-left: 8px;
    text-align: center;
}

.tbody i:last-child {
    padding-left: 10px;
    text-align: center;
}

.table-2 p>i:not(:last-child) {
    border-right: 1px solid #c0c1c2;
}

.thead p {
    padding: 14px 0;
}

.thead b:nth-child(2) {
    text-align: left;
    padding-left: 40px;
}

.tbody i:nth-child(2n) {
    text-align: left;
    padding-left: 40px;
}

.tbody i:nth-child(4n) {
    padding-left: 0;
    text-align: revert;
}

.table-2 b:not(:last-child) {
    border-right: 1px solid #3f4852;
}

.thead b:first-child {
    border-radius: 3px 0 0 0;
    padding-left: 23px;
    padding-right: 23px;
}

.thead b:last-child {
    border-radius: 0 3px 0 0;
}